<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                My Garage Sale
            </span>
            <button href="#/login" class="btn btn-default navbar-btn pull-right">
                Login
            </button>
        </div>

    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="page-button pull-right">
                <a href="#/">Buy</a>
            </div>
        </div>
        <div class="row">
            <div class="page-button pull-right">
                <a href="#/">Sell</a>
            </div>
        </div>
        <div class="row">
            <div class="page-button pull-right">
                <a href="#/">Browse</a>
            </div>
        </div>
    </div>
</div>