<link rel="stylesheet" href="css/style.css">
<div class="overlay hidden-sm hidden-xs visible-md visible-lg">
</div>
<nav class="navbar navbar-defaul navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="row">
            <!--section visible in the landscape mode-->
            <div class="col-md-4 col-lg-4 hidden-xs hidden-sm visible-md visible-lg">
                <!--Back Button-->
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 navbar-text">
                    <a href="#/user/{{model.id}}/website" class="navbar-text-custom glyphicon glyphicon-chevron-left">
                    </a>
                </div>
                <!--Navbar header -->
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 navbar-brand">
                        <span class="navbar-text-custom">
                        Websites
                        </span>
                </div>
                <!--Plus icon-->
                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                    <a href="#/user/{{model.id}}/website/new" class="navbar-text-custom plus-navbar-text glyphicon glyphicon-plus">
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-lg-8">
                <!--section always visible-->
                <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
                    <!--Back Button-->
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 navbar-text visible-xs visible-sm hidden-md hidden-lg">
                        <a href="#/user/{{model.id}}/website" class="navbar-text-custom glyphicon glyphicon-chevron-left">
                        </a>
                    </div>
                    <!--Navbar header -->
                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 navbar-brand">
                        <span class="navbar-text-custom">
                        Edit Website
                        </span>
                    </div>
                </div>
                <!-- Plus icon -->
                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                    <p class="navbar-text navbar-link pull-right">
                        <a href="#/user/{{model.id}}/website" ng-click="model.editWebsite(model.name,model.description,model.id)" class="navbar-text-custom glyphicon glyphicon-ok">
                        </a>
                    </p>
                </div>
            </div>
            <!--Row closes-->
        </div>
    </div>
</nav>
<!--Name and description of the new website-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 body-row">
                <table class="table table-borderless">
                    <tbody>
                    <tr ng-repeat="website in model.websites">
                        <td>
                            <a href="#/user/{{model.id}}/website/{{website._id}}/page" class="body-text-custom">{{website.name}}</a>
                        </td>
                        <td>
                            <a href="#/user/{{model.id}}/website/{{website._id}}" class="glyphicon glyphicon-cog pull-right body-text-custom"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <!--Body section that is always visible-->
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 adjust">
                <form>
                    <div class="form-group">
                        <label for="username">Website Name</label>
                        <input ng-model = "model.name" type="text" class="form-control btn-block btn-lg" id="username"
                               placeholder="Website name">
                    </div>
                    <div class="form-group">
                        <label for="Description">Website Description</label>
                        <textarea ng-model = "model.description" rows="4" class="form-control btn-block btn-lg" id="Description"
                                  placeholder="Enter website description"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <a href="#/user/{{model.id}}/website" ng-click="model.deleteWebsite(model.wid)" class="btn btn-danger btn-lg btn-block">
                            Delete Website
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--Navigation bar bottom-->
<nav class="navbar navbar-default navbar-fixed-bottom navbar-custom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <p class="navbar-text navbar-link pull-right">
                    <a href="#/user/{{model.id}}" class="navbar-text-custom glyphicon glyphicon-user">
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
