body{
    margin-top: 50px;
    margin-bottom: 70px;
}
.navbar-default{
    background-color: #337ab7;
}
.navbar-text{
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 0px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    font-size: 18px;
    line-height: 20px;
}
.col-md-1 {
    width: 8.3333%;
}
.row {
    margin-right: 1px;
    margin-left: 1px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: white;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: white;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
.container {
    width: 100%;
    padding-right: 13px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}
.container-form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;

}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #ffffff;
    opacity: 1;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    /*color: #ffffff;*/
    text-align: center;
    /*background-color: #337ab7;*/
    border: 1px solid #ccc;
    border-radius: 6px;
}

.topcorner{
    position:absolute;
    right:0;
    top:10px;
}
.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: inherit;
    background-color: #ffffff;
    height: auto;
}
.blue-cog{
    padding-right: 10px;
}

.parent {
    position: relative;
}

.content {
    /*position: absolute;*/
    width: 100%;
    height: auto;
    z-index: 100;
    background: #ffffff;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 110;
    right: 0px;
    background: #ffffff;
    top: 0px;
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 10px;
}

.jumbotron p {
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: 200;
}
.img-center{
    text-align: center;
}