<link rel="stylesheet" href="css/style-v2.css">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="#/user/{{model.id}}/website" class="glyphicon glyphicon-chevron-left navbar-text">
            </a>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <span class="navbar-brand">
        Page List
    </span>
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="#/user/{{model.id}}/website/{{model.wid}}/page/new" class="glyphicon glyphicon-plus navbar-text pull-right">

            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <!--Dummy list of websites-->
        <div>
            <table class="table table-borderless">
                <tbody>
                <tr ng-repeat="page in model.pages">
                    <td>
                        <a href="#/user/{{model.id}}/website/{{model.wid}}/page/{{page._id}}/widget">{{page.name}}</a>
                    </td>
                    <td>
                        <a href="#/user/{{model.id}}/website/{{model.wid}}/page/{{page._id}}" class="glyphicon glyphicon-cog pull-right body-text-custom"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom navbar custom">
    <div class="container-fluid">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <span class="navbar-brand">
    </span>
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="#/user/{{model.id}}" class="glyphicon glyphicon-user navbar-text pull-right">

            </a>
        </div>
    </div>
</nav>
