<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
            <div class="page-header">
                <h2>Login</h2>
            </div>
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>
            <input placeholder="username"
                   ng-model="model.user.username"
                   type="text"
                   class="form-control btn-block btn-lg"
                   name="username"/>
            <input
                    placeholder="password"
                    ng-model="model.user.password"
                    type="password"
                    class="form-control btn-block btn-lg"
                    name="password"/>
            <br>
            <a ng-click="model.login(model.user.username, model.user.password)"
               class="btn btn-primary btn-block btn-lg">
                Login
            </a>
            <a href="#/register"
               class="btn btn-success btn-block btn-lg">
                Register
            </a>

            <a href="/auth/google" class="btn btn-danger btn-block btn-lg">
                <span class="fa fa-google-plus"></span>
                Google
            </a>

            <a href="/auth/facebook" class="btn btn-primary btn-block btn-lg">
                <span class="fa fa-facebook"></span>
                Facebook
            </a>
        </div>
    </div>
</div>
