<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/bodystyle.css">
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link">
                        <span class="navbar-text-custom">Profile</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <p class="navbar-text navbar-link pull-right">
                    <a ng-click="model.updateUser()" class="navbar-text-custom glyphicon glyphicon-ok">
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3 body-row">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ng-model = "model.username" type="text" class="form-control btn-block btn-lg" id="username"
                           placeholder="alice" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control btn-block btn-lg" id="email"
                           placeholder="alice@wonderland.com" ng-model="model.email">
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input ng-model = "model.firstname" type="text" class="form-control btn-block btn-lg" id="first-name" placeholder="Alice">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input ng-model = "model.lastname" type="text" class="form-control btn-block btn-lg" id="last-name" placeholder="Wonderland">
                </div>
            </form>
            <br>
            <a class="btn btn-primary btn-block btn-lg"
               href="#/user/{{model.id}}/website">Websites</a>
            <a class="btn btn-danger btn-block btn-lg"
               ng-click="model.logout()">Logout</a>
            <a class="btn btn-warning btn-block btn-lg" ng-click="model.deleteUser(model.id)"
               href="#/">Delete Account</a>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom navbar-custom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">

            </div>
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <p class="navbar-text navbar-link pull-right">
                    <a href="#/user/{{model.id}}" class="navbar-text-custom glyphicon glyphicon-user">
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
