<div class="form-group">
    <label for="page-name">Name</label>
    <input ng-model = "model.name" type="text" class="form-control btn-lg btn-block" id="page-name" placeholder="widget name">
</div>
<div class="form-group">
    <label for="page-title">Text</label>
    <input ng-model = "model.text" type="text" class="form-control btn-lg btn-block" id="page-title" placeholder="widget text">
</div>
<div class="form-group">
    <label for="page-title">Size</label>
    <input ng-model = "model.size" type="text" class="form-control btn-lg btn-block" id="page-title" placeholder="widget size">
</div>
<br>
