<link rel="stylesheet" href="css/style-v2.css">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="#/user/{{model.id}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="glyphicon glyphicon-chevron-left navbar-text">
            </a>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <span class="navbar-brand">
        Widget Edit
    </span>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="#/user/{{model.id}}/website/{{model.wid}}/page/{{model.pid}}/widget" ng-click="model.updateWidget(model.name, model.text, model.size, model.url, model.width)" class="glyphicon glyphicon-ok navbar-text pull-right">
            </a>
        </div>
    </div>
</nav>
<div class="container-form">



    <form>
        <div ng-include="model.page">
        </div>
    </form>

    <div class="form-group">
        <br/>
        <a href="#/user/{{model.id}}/website/{{model.wid}}/page/{{model.pid}}/widget" ng-click="model.deleteWidget()" class="btn btn-danger btn-lg btn-block">
            Delete
        </a>
    </div>


</div>
<nav class="navbar navbar-default navbar-fixed-bottom navbar custom">
    <div class="container-fluid">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <span class="navbar-brand">
    </span>
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="#/user/{{model.id}}" class="glyphicon glyphicon-user navbar-text pull-right">

            </a>
        </div>
    </div>
</nav>
